h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: #918890;
}
h1 {
  font-size: 3.3em;
}
html, body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fdf9f1;
  height: 100vh;
  margin: 0;
}

/* creds to the following to https://stackoverflow.com/a/36159798 */
.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 12px;
  margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}